*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel{
    background-color: #fcfcfc;
    color: #080808;
    width: 100vw;
}

.box{
    background-color: rgb(255, 255, 255);
    height: 290px;
    margin: 0px;
}

.box h3{
    text-align: center;
} 


.slick-dots li.slick-active button:before{
    color: lightgreen;
}

.click-dots li button:before{
    color: #f80606 !important;
    font-size: 1rem !important;
    top:2rem !important;
}
button.slick-arrow.slick-next {
    right: 0px;
}